!! Xft =================================
Xft.dpi:       96
Xft.autohint:  false
Xft.antialias: true
Xft.hinting:   true
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault
Xft.rgba:      none

!! Cursor-theme ========================
Xcursor.theme: Adwaita
Xcursor.size:  32

!! XTerm ===============================
XTerm*termName:           xterm-256color
XTerm*faceName:           Terminus
XTerm*faceSize:           12
XTerm*borderWidth:        0
XTerm*cursorBlink:        true
XTerm*scrollBar:          false
XTerm*alternateScroll:    true
XTerm*fastScroll:         true
XTerm*selectToClipboard:  true
XTerm*eightBitInput:      false
XTerm*VT100.Translations: #override \
                          Ctrl Shift <Key>C: copy-selection(CLIPBOARD) \n\
                          Ctrl Shift <Key>V: insert-selection(CLIPBOARD)

!! Colors ==============================
*background:  #282C34
*foreground:  #E5E5E5
*cursorColor: #FA71B1
*color0:      #212132
*color8:      #AFD4E0
*color1:      #EB2A2A
*color9:      #FF4767
*color2:      #329632
*color10:     #5AC95A
*color3:      #FF7F00
*color11:     #F660CE
*color4:      #4949FA
*color12:     #8B8BFF
*color5:      #863E86
*color13:     #B960B9
*color6:      #00B0C2
*color14:     #5DE1EE
*color7:      #69C46B
*color15:     #E5E5E5

!! XCalc ===============================
XCalc*ti.background: #212132
XCalc*ti.bevel.background: #212132
XCalc*ti.bevel.screen*background: #212132
XCalc*ti.bevel.screen*foreground: #E5E5E5
XCalc*ti.Command.background: #212132
XCalc*ti.Command.foreground: #E5E5E5
