configuration {
    modi:                "window,run,drun";
    font:                "JetBrains Mono 10";
    show-icons:          true;
    sidebar-mode:        true;
    display-window:      " Win";
    display-run:         " Run";
    display-drun:        " Apps";
    drun-display-format: "{icon} {name}";
    location:            1;
    yoffset:             30;
    xoffset:             0;
}
@theme "dark-theme"
